<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Al3xandria</title>
    <link rel="shortcut icon" href="../Imagens/Favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/home.css">
    <script src="../JavaScript/home.js" defer></script>
</head>
<body>

    <header class="navbar">

        <div class="header-content">
            <div class="site-logo-small">
                <img src="../Imagens/logo.png" alt="Al3xandria">
                <span>Al3xandria</span>
            </div>
            
            <nav class="nav-links">
                <a href="#" class="active">Biblioteca</a>
                <a href="../VIEW/searchgames.html">Explorar</a>
                <a href="#">Favoritos</a>
            </nav>

            <div class="user-profile">
                <button class="btn-logout" id="btn-sair">Sair</button>
            </div>
        </div>
    </header>

    <main class="home-container">
        <section>
            <p id="user_name">Olá Gustavo</p>
        </section>
        <section class="featured-section" id="week-main">
            <div class="featured-overlay" >
                
            </div>
        </section>

        <section class="library-section">
            <div class="section-header">
                <h2 class="cinzel-title" id="colection-msg">Sua Coleção</h2>
                <div class="filter-bar">
                    <input type="text" placeholder="Buscar na biblioteca..." id="search-input">
                </div>
            </div>

            <div class="game-grid" id="game_section">
    

                
            </div>
        </section>

    </main>

</body>
</html>
