<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchGame</title>
    <link rel="stylesheet" href="../CSS/searchgame.css">
    <script src="../JavaScript/searchgame.js"></script>

</head>
<body>
<div class="search-container">
    <input type="text" id="gameSearch" placeholder="Pesquisar jogo em Alexandria...">
    <button id="pesquisa" onclick="performSearch()">Buscar</button>
</div>

<div id="game-results" class="results-container"></div>

</body>
</html>